<!Doctype html>
<html>
<head>
<% 
begin 
	title
rescue NameError => e 
	title = 'Blog'
end
-%>
<title><%= title %></title>
<link rel='stylesheet' href='/index.css'>
<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/index.js" ></script>
</head>
<body>
<div class='supercontainer'>
<div class='container'>
<div class='header'>
	<nav>
		<a href='/login'>login</a> 
	</nav>
	<h1 ><a href='/' ><%= title %></a></h1>
</div>
</div><!-- container -->
</div><!-- supercontainer -->
<div class='supercontainer'>
<div class='container'>
<div class='sidebar'>
	<h2><a href='/posts'>Posts</a> <button style='display: none' onclick='updatePostList()'>Update</button></h2>
	<div id='postlist'>
	Loading...
	</div>
</div>
<div class='main'>
<%= content %>
</div><!-- main -->
</div><!-- container -->
</div><!-- supercontainer -->
<footer>
<%
t = Time.new
-%>
&copy; <%= t.year %> <span>|</span> Generated <%= t.strftime "%b %e %k:%M:%S" %> <span>|</span> Dan Farrell
</footer>
</body>
</html>
